# Игнорировать файлы, созданные PyCharm
.idea/

# Игнорировать файлы с расширением .pyc (скомпилированные файлы Python)
*.pyc

# Игнорировать кэши и временные файлы Python
__pycache__/
*.py[cod]

# Игнорировать файлы окружения (venv, virtualenv, etc.)
venv/
env/
.env/