<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>
<form action="{{ url_for('register') }}" method="POST">
    <label for="first_name">Имя:</label><br>
    <input type="text" id="first_name" name="first_name"><br><br>

    <label for="last_name">Фамилия:</label><br>
    <input type="text" id="last_name" name="last_name"><br><br>

    <label for="email">Электронная почта:</label><br>
    <input type="email" id="email" name="email"><br><br>

    <label for="password">Пароль:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <input type="submit" value="Зарегистрироваться">
</form>
</body>
</html>
